 #Favorite {
halign:center;
height:fill;
layout:vbox;
width:fill;
valign:TOP;
}
 #viewPage0 {
halign:center;
height:fill;
layout:vbox;
background:#f7f7f7;
width:fill;
valign:TOP;
}
 #panel1 {
padding-right:44;
border-bottom-width:1px;
padding-left:8;
halign:LEFT;
height:49;
layout:hbox;
background:#f0f0f0;
width:fill;
valign:center;
border-bottom-color:#c3c3c3;
}
 #button1 {
padding-left:20;
halign:left;
height:36;
width:36;
background-image:back.png;
}
 #label3 {
halign:center;
height:fill;
weight:1;
color:#242424;
font-size:15;
width:0;
font-family:default;
valign:center;
}
 #listviewdefine0 {
halign:center;
height:0;
weight:1;
layout:vbox;
width:fill;
valign:TOP;
}
 #panel0 {
border-bottom-width:1px;
halign:left;
height:100;
background:#f7f7f7;
layout:vbox;
width:fill;
valign:CENTER;
border-bottom-color:#d2d2d2;
}
 #label1 {
margin-right:10;
halign:left;
height:wrap;
color:#535353;
heightWrap:25.0;
font-size:15;
width:fill;
margin-left:10;
font-family:default;
margin-top:5;
valign:center;
}
 #label4 {
margin-right:10;
halign:left;
height:0;
weight:1;
color:#262626;
font-size:14;
width:fill;
margin-left:10;
font-family:default;
valign:top;
}
 #label2 {
margin-right:10;
halign:right;
height:wrap;
color:#c0c0c0;
heightWrap:20.0;
font-size:12;
width:fill;
margin-left:10;
margin-bottom:5;
font-family:default;
valign:center;
}
