 #Home {
halign:center;
height:569;
layout:vbox;
width:fill;
valign:TOP;
}
 #viewPage0 {
halign:center;
height:fill;
background:#cccccc;
layout:vbox;
width:fill;
valign:TOP;
}
 #navigatorbar0 {
padding-right:8;
padding-left:8;
halign:LEFT;
height:44.0;
color:#8b8b8b;
font-size:20;
layout:hbox;
width:fill;
font-family:default;
valign:center;
}
 #button0 {
halign:left;
height:44;
width:44;
background-image:share.png;
}
 #label0 {
halign:center;
height:fill;
weight:1;
color:#8b8b8b;
font-size:14;
width:0;
font-family:default;
valign:center;
}
 #button1 {
halign:right;
height:44;
width:44;
background-image:more.png;
}
 #panel0 {
halign:center;
height:0;
weight:1;
layout:vbox;
width:fill;
valign:TOP;
}
 #panel1 {
halign:CENTER;
height:140;
layout:hbox;
width:fill;
valign:center;
}
 #image0 {
height:100;
width:100;
}
