 #Login {
halign:center;
height:569;
layout:vbox;
width:fill;
valign:TOP;
}
 #viewPage0 {
halign:center;
height:fill;
background:#cccccc;
layout:vbox;
width:fill;
valign:TOP;
}
 #panel0 {
halign:center;
height:0;
weight:3;
layout:vbox;
width:fill;
valign:CENTER;
}
 #label0 {
halign:center;
height:wrap;
widthWrap:78.0;
color:#8b8b8b;
heightWrap:35.0;
font-size:25;
width:wrap;
font-family:default;
valign:center;
}
 #panel1 {
margin-right:22;
halign:center;
height:88;
border-radius:5;
layout:vbox;
background:#dee8ed;
width:fill;
opacity:0.52;
margin-left:22;
valign:TOP;
}
 #panel2 {
halign:LEFT;
height:44;
width:fill;
layout:hbox;
valign:center;
}
 #image0 {
margin-right:10;
height:25;
width:25;
margin-left:10;
}
 #textbox0 {
padding-left:4;
halign:LEFT;
height:fill;
weight:1;
color:#167ef8;
font-size:18;
width:0;
font-family:default;
}
 #panel3 {
border-top-color:#cccccc;
halign:LEFT;
height:44;
layout:hbox;
width:fill;
valign:center;
border-top-width:1;
}
 #image1 {
margin-right:10;
height:25;
width:25;
margin-left:10;
}
 #textbox1 {
padding-left:4;
halign:LEFT;
height:fill;
weight:1;
color:#167ef8;
font-size:18;
width:0;
font-family:default;
}
 #panel4 {
margin-right:25;
halign:LEFT;
height:44;
layout:hbox;
width:fill;
margin-left:25;
valign:center;
}
 #label1 {
halign:center;
height:wrap;
widthWrap:68.0;
color:#8b8b8b;
heightWrap:23.0;
font-size:16;
width:wrap;
font-family:default;
valign:center;
}
 #checkbox0 {
height:40;
width:40;
check-on-image:check_on.png;
check-off-image:check_off.png;
}
 #label2 {
halign:right;
height:fill;
weight:1;
color:#8b8b8b;
font-size:14;
width:0;
margin-left:40;
font-family:default;
valign:center;
}
 #button0 {
border-radius:5;
width:fill;
font-pressed-color:#459dfe;
pressed-color:#ffffff;
margin-right:22;
height:44;
color:#333333;
font-size:20;
background:#dee8ed;
opacity:0.52;
margin-left:22;
margin-top:10;
}
 #panel5 {
halign:center;
height:0;
weight:2;
layout:vbox;
width:fill;
valign:TOP;
}
