 #Login {
halign:center;
height:fill;
layout:vbox;
width:fill;
valign:TOP;
}
 #viewPage0 {
halign:center;
height:fill;
layout:vbox;
width:fill;
valign:TOP;
background-image:bghome.png;
}
 #panel0 {
halign:center;
height:0;
weight:3;
layout:vbox;
width:fill;
valign:CENTER;
}
 #panel1 {
margin-right:22;
halign:center;
height:88;
border-radius:5;
background:#f0f0f0;
layout:vbox;
width:fill;
opacity:0.5;
margin-left:22;
valign:TOP;
}
 #panel2 {
halign:LEFT;
height:44;
width:fill;
layout:hbox;
valign:center;
}
 #image0 {
margin-right:10;
height:22;
width:22;
margin-left:10;
}
 #textbox0 {
padding-left:4;
halign:LEFT;
height:fill;
weight:1;
color:#167ef8;
font-size:15;
width:0;
font-family:default;
}
 #panel3 {
border-top-color:#cccccc;
halign:LEFT;
height:44;
layout:hbox;
width:fill;
valign:center;
border-top-width:1px;
}
 #image1 {
margin-right:10;
height:22;
width:22;
margin-left:10;
}
 #textbox1 {
padding-left:4;
halign:LEFT;
height:fill;
weight:1;
color:#167ef8;
font-size:15;
width:0;
font-family:default;
}
 #panel4 {
margin-right:25;
halign:LEFT;
height:44;
layout:hbox;
width:fill;
margin-left:25;
valign:center;
}
 #label2 {
halign:right;
height:fill;
weight:1;
color:#666666;
font-size:13;
width:0;
font-family:default;
valign:center;
}
 #button0 {
border-radius:5;
width:fill;
margin-right:22;
height:44;
color:#ffffff;
font-size:16;
background:#167ef8;
opacity:0.5;
margin-left:22;
margin-top:10;
}
 #panel5 {
halign:center;
height:0;
weight:2;
layout:vbox;
width:fill;
valign:TOP;
}
