 #Map {
halign:center;
height:fill;
width:fill;
layout:vbox;
valign:TOP;
}
 #viewPage0 {
halign:center;
height:fill;
width:fill;
background:#f7f7f7;
layout:vbox;
valign:TOP;
}
 #panel0 {
padding-left:8;
border-bottom-width:1px;
padding-right:44;
halign:LEFT;
height:49;
background:#f0f0f0;
layout:hbox;
width:fill;
valign:center;
border-bottom-color:#c3c3c3;
}
 #button1 {
padding-left:20;
halign:left;
height:36;
width:36;
background-image:back.png;
}
 #label1 {
halign:center;
height:fill;
weight:1;
color:#242424;
font-size:15;
width:0;
font-family:default;
valign:center;
}
 #gaodemapview0 {
location-img:mixedspot;
height:fill;
width:fill;
around-img:maphot;
background-image:map;
}
