 #Register {
halign:center;
height:569;
layout:vbox;
width:fill;
valign:TOP;
}
 #viewPage0 {
halign:center;
height:fill;
background:#f7f7f7;
layout:vbox;
width:fill;
valign:TOP;
}
 #panel4 {
padding-left:8;
border-bottom-width:1px;
padding-right:8;
halign:LEFT;
height:49;
background:#f0f0f0;
layout:hbox;
width:fill;
valign:center;
border-bottom-color:#c3c3c3;
}
 #button1 {
padding-left:20;
halign:left;
height:36;
width:36;
background-image:back.png;
}
 #label3 {
halign:center;
height:fill;
weight:1;
color:#242424;
font-size:15;
width:0;
font-family:default;
valign:center;
}
 #button3 {
height:30;
border-radius:5;
color:#dee8ed;
font-size:14;
background:#595959;
width:48;
}
 #panel0 {
padding-left:5;
border-bottom-width:1px;
halign:LEFT;
height:50;
background:#f7f7f7;
layout:hbox;
width:fill;
valign:center;
border-bottom-color:#d2d2d2;
}
 #label0 {
padding-right:9;
halign:right;
width:80;
margin-right:5;
height:wrap;
color:#262626;
heightWrap:20.0;
border-right-color:#f1f4f5;
font-size:14;
border-right-width:1;
font-family:default;
valign:center;
}
 #textbox0 {
padding-left:4;
halign:LEFT;
height:48;
weight:1;
color:#595959;
font-size:14;
background:#f7f7f7;
width:0;
font-family:default;
}
 #panel1 {
border-bottom-width:1px;
padding-left:5;
halign:LEFT;
height:50;
layout:hbox;
background:#f7f7f7;
width:fill;
valign:center;
border-bottom-color:#d2d2d2;
}
 #label1 {
padding-right:9;
halign:right;
width:80;
margin-right:5;
height:wrap;
color:#262626;
heightWrap:20.0;
border-right-color:#f1f4f5;
font-size:14;
border-right-width:1;
font-family:default;
valign:center;
}
 #textbox1 {
padding-left:4;
halign:LEFT;
height:48;
weight:1;
color:#595959;
font-size:14;
background:#f7f7f7;
width:0;
font-family:default;
}
 #panel2 {
border-bottom-width:1px;
padding-left:5;
halign:LEFT;
height:50;
layout:hbox;
background:#f7f7f7;
width:fill;
valign:center;
border-bottom-color:#d2d2d2;
}
 #label2 {
padding-right:9;
halign:right;
width:80;
margin-right:5;
height:wrap;
color:#262626;
heightWrap:20.0;
border-right-color:#f1f4f5;
font-size:14;
border-right-width:1;
font-family:default;
valign:center;
}
 #textbox2 {
padding-left:4;
halign:LEFT;
height:48;
weight:1;
color:#595959;
font-size:14;
background:#f7f7f7;
width:0;
font-family:default;
}
