 #Setting {
halign:center;
height:fill;
layout:vbox;
width:fill;
valign:TOP;
}
 #viewPage0 {
halign:center;
height:fill;
background:#f7f7f7;
layout:vbox;
width:fill;
valign:TOP;
}
 #panel5 {
padding-left:8;
border-bottom-width:1px;
padding-right:44;
halign:LEFT;
height:49;
background:#f0f0f0;
layout:hbox;
width:fill;
valign:center;
border-bottom-color:#c3c3c3;
}
 #button1 {
padding-left:20;
halign:left;
height:36;
width:36;
background-image:back.png;
}
 #label4 {
halign:center;
height:fill;
weight:1;
color:#242424;
font-size:15;
width:0;
font-family:default;
valign:center;
}
 #panel7 {
border-bottom-width:1px;
padding-left:20;
padding-right:10;
halign:LEFT;
height:60.0;
background:#f7f7f7;
layout:hbox;
width:fill;
valign:center;
border-bottom-color:#d2d2d2;
}
 #image0 {
margin-right:10;
height:36;
width:36;
}
 #panel8 {
halign:center;
height:50;
weight:1;
layout:vbox;
background:#f7f7f7;
width:0;
valign:TOP;
}
 #label5 {
halign:left;
height:0;
weight:1;
color:#262626;
font-size:14;
width:fill;
font-family:default;
valign:center;
}
 #label6 {
halign:left;
height:0;
weight:1;
color:#575757;
font-size:12;
width:fill;
font-family:default;
valign:center;
}
 #label18 {
halign:center;
height:25;
color:#000000;
font-size:14;
width:25;
font-family:default;
valign:center;
background-image:icon_enter.png;
}
 #label14 {
padding-left:20;
halign:left;
height:30;
color:#535353;
background:#eaeaea;
font-size:13;
width:fill;
font-family:default;
valign:center;
}
 #panel3 {
padding-left:20;
border-bottom-width:1px;
padding-right:10;
halign:LEFT;
width:fill;
border-bottom-color:#d2d2d2;
border-top-width:1px;
border-top-color:#d2d2d2;
height:50;
layout:hbox;
background:#f7f7f7;
valign:center;
}
 #label16 {
halign:left;
height:wrap;
weight:1;
color:#262626;
heightWrap:20.0;
font-size:14;
width:0;
font-family:default;
valign:center;
}
 #label17 {
halign:center;
height:25;
color:#000000;
font-size:14;
width:25;
font-family:default;
valign:center;
background-image:icon_enter.png;
}
 #label0 {
padding-left:20;
halign:left;
height:30;
color:#535353;
background:#eaeaea;
font-size:13;
width:fill;
font-family:default;
valign:center;
}
 #panel0 {
border-bottom-width:1px;
padding-left:20;
padding-right:10;
halign:LEFT;
width:fill;
border-bottom-color:#d2d2d2;
border-top-width:1px;
border-top-color:#d2d2d2;
height:50;
layout:hbox;
background:#f7f7f7;
valign:center;
}
 #label1 {
halign:left;
height:wrap;
widthWrap:60.0;
color:#262626;
heightWrap:20.0;
font-size:14;
width:wrap;
font-family:default;
valign:center;
}
 #label2 {
halign:right;
height:wrap;
weight:1;
color:#595959;
heightWrap:18.0;
font-size:12;
width:0;
margin-left:5;
font-family:default;
valign:center;
}
 #label3 {
halign:center;
height:25;
color:#000000;
font-size:14;
width:25;
font-family:default;
valign:center;
background-image:icon_enter.png;
}
 #panel1 {
border-bottom-width:1px;
padding-left:20;
padding-right:10;
halign:LEFT;
height:50;
layout:hbox;
background:#f7f7f7;
width:fill;
valign:center;
border-bottom-color:#d2d2d2;
}
 #label7 {
halign:left;
height:wrap;
widthWrap:90.0;
color:#262626;
heightWrap:20.0;
font-size:14;
width:wrap;
font-family:default;
valign:center;
}
 #label8 {
halign:right;
height:wrap;
weight:1;
color:#595959;
heightWrap:18.0;
font-size:12;
width:0;
margin-left:5;
font-family:default;
valign:center;
}
 #label9 {
halign:center;
height:25;
color:#000000;
font-size:14;
width:25;
font-family:default;
valign:center;
background-image:icon_enter.png;
}
 #label12 {
padding-left:20;
halign:left;
height:30;
color:#535353;
background:#eaeaea;
font-size:13;
width:fill;
font-family:default;
valign:center;
}
 #panel2 {
padding-right:20;
padding-left:20;
border-bottom-width:1px;
halign:LEFT;
width:fill;
border-bottom-color:#d2d2d2;
border-top-width:1px;
border-top-color:#d2d2d2;
height:50;
background:#f7f7f7;
layout:hbox;
valign:center;
}
 #label10 {
halign:left;
height:wrap;
widthWrap:30.0;
color:#262626;
heightWrap:20.0;
font-size:14;
width:wrap;
font-family:default;
valign:center;
}
 #label11 {
halign:right;
height:wrap;
weight:1;
color:#595959;
heightWrap:18.0;
font-size:12;
width:0;
margin-left:5;
font-family:default;
valign:center;
}
 #panel6 {
padding-left:20;
border-bottom-width:1px;
padding-right:10;
halign:LEFT;
height:50;
layout:hbox;
background:#f7f7f7;
width:fill;
valign:center;
border-bottom-color:#d2d2d2;
}
 #label13 {
halign:left;
height:wrap;
weight:1;
color:#262626;
heightWrap:20.0;
font-size:14;
width:0;
font-family:default;
valign:center;
}
 #label15 {
halign:center;
height:25;
color:#000000;
font-size:14;
width:25;
font-family:default;
valign:center;
background-image:icon_enter.png;
}
