 #Share {
halign:center;
height:180;
layout:vbox;
width:250;
valign:TOP;
}
 #viewPage0 {
halign:center;
height:fill;
border-radius:5;
layout:vbox;
background:#f0f0f0;
width:fill;
valign:TOP;
}
 #panel0 {
border-bottom-width:1px;
halign:CENTER;
height:44;
layout:hbox;
width:fill;
valign:center;
border-bottom-color:#c3c3c3;
}
 #label0 {
halign:center;
height:wrap;
widthWrap:51.0;
color:#262626;
heightWrap:23.0;
font-size:16;
width:wrap;
font-family:default;
valign:center;
}
 #panel1 {
halign:CENTER;
height:0;
weight:1;
layout:hbox;
width:fill;
valign:center;
}
 #imagebutton1 {
margin-right:10;
icon-height:44;
height:80;
color:#535353;
font-size:11;
width:80;
icon-background-image:chat.png;
icon-width:44;
icon-pressed-image:chat.png;
font-pressed-color:#535353;
icon-text-spacing:5;
}
 #imagebutton0 {
icon-height:44;
height:80;
color:#535353;
font-size:11;
width:80;
icon-background-image:friend.png;
margin-left:10;
icon-width:44;
icon-pressed-image:friend.png;
font-pressed-color:#535353;
icon-text-spacing:5;
}
 #panel2 {
border-top-color:#d2d2d2;
halign:CENTER;
height:44;
layout:hbox;
width:fill;
valign:center;
border-top-width:1px;
}
 #label1 {
halign:center;
height:wrap;
widthWrap:34.0;
color:#e50011;
heightWrap:23.0;
font-size:16;
width:wrap;
font-family:default;
valign:center;
}
