 #Share {
halign:center;
height:180;
layout:vbox;
width:250;
valign:TOP;
}
 #viewPage0 {
halign:center;
height:fill;
border-radius:5;
layout:vbox;
background:#f1f4f5;
width:fill;
valign:TOP;
}
 #panel0 {
border-bottom-width:1;
halign:CENTER;
height:44;
layout:hbox;
width:fill;
valign:center;
border-bottom-color:#c0c0c0;
}
 #label0 {
halign:center;
height:wrap;
widthWrap:57.0;
color:#8b8b8b;
heightWrap:26.0;
font-size:18;
width:wrap;
font-family:default;
valign:center;
}
 #panel1 {
halign:CENTER;
height:0;
weight:1;
layout:hbox;
width:fill;
valign:center;
}
 #imagebutton1 {
width:80;
icon-width:44;
font-pressed-color:#6f99bd;
margin-right:10;
icon-height:44;
height:80;
color:#8b8b8b;
font-size:12;
icon-background-image:chat.png;
icon-pressed-image:chat.png;
icon-text-spacing:5;
}
 #imagebutton0 {
width:80;
icon-width:44;
font-pressed-color:#6f99bd;
icon-height:44;
height:80;
color:#8b8b8b;
font-size:12;
margin-left:10;
icon-background-image:friend.png;
icon-pressed-image:friend.png;
icon-text-spacing:5;
}
 #panel2 {
border-top-color:#D5D5D5;
halign:CENTER;
height:44;
layout:hbox;
width:fill;
valign:center;
border-top-width:1;
}
 #label1 {
halign:center;
height:wrap;
widthWrap:38.0;
color:#6f99bd;
heightWrap:26.0;
font-size:18;
width:wrap;
font-family:default;
valign:center;
}
